/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}

.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:5%;
	bottom:10%;
	color:#fff;
	width:50%;
	z-index:8;
	padding: 5px 10px;
	overflow: hidden;
	display: none;
	background: rgba(0,0,0,0.5);
	       /* Opera/IE 8+ */
}
.nivo-caption h1{color: #E87C0C; margin: 0; padding: 0; font-size: 34px; text-shadow: 0 2px 0 #a25c14;}
.nivo-caption p {
	padding:5px;
	margin:0;
	font-family: 'M Fell Double Pica';
	font-style: oblique;
	color: #fff;
	font-size: 18px;
	line-height: 22px;
}
.nivo-caption span.hashtag{color: #E87C0C; text-shadow:0 1px 0 #666;}
.nivo-caption a {
	border: 1px solid #fff !important;
	border-radius: 5px;
	color: #fff;
	padding: 5px 20px;
	margin-right: 50px;
	font-size: 13px;

	transition: all 0.3s linear; 
	-webkit-transition: all 0.3s linear; 
	-moz-transition: all 0.3s linear;
}
.nivo-caption a:hover{background: #fff; color: #E87C0C !important;}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:40%;
	z-index:9;
	cursor:pointer;

}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position: absolute;
	bottom: 10%;
	right: 20%;
	z-index: 9999;
}
.nivo-controlNav img{width: 120px; margin: 5px;}
.nivo-controlNav a {
	cursor:pointer;
	opacity: 0.5;
}
.nivo-controlNav a:hover{opacity: 1.0; }
.nivo-controlNav a.active {
	font-weight:bold;
	opacity: 1.0;
}


.theme-default .nivoSlider {
    position:relative;
    background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.theme-default .nivoSlider a {
    border:0;
    display:block;
}

.theme-default .nivo-controlNav {
    text-align: center;
    padding: 20px 0;
}
.nivo-controlNav a {
    display:inline-block;
    width:20px;
    height:20px;
    background: url(../sources/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin: 0 2px;
    opacity: 0.5;
}

.nivo-controlNav a.active {
    background-position:0 -20px;
}

.theme-default .nivo-directionNav a {
    display:block;
    width:30px;
    height:75px;
    background:url(../sources/arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
    background-position:-45px 0;
    right:20px;
}
.theme-default a.nivo-prevNav {
    left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto;
}