/*FONTS
================================================================== */
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*GENERALES
================================================================== */
a{text-decoration:none;}
a img{border:none;}
body{font:normal 13px Arial, Helvetica, sans-serif; background: #fff; }
p{line-height:18px; font-size: 14px; margin-bottom:5px; font-family: Helvetica, Arial; color: #333; text-align: justify;}
.container img{max-width: 100%;}
.clr{clear: both;}
.rel{position: relative;}
.boxCenter{margin: 0 auto;}
.nomrg{margin-left: 0 !important;}
.nomrg-r{margin-left: 0 !important;}

fieldset{float: left; width: 100%; margin-bottom: 10px; border: none; box-sizing: border-box;}
label{display: block; margin-bottom: 5px;}
fieldset input, fieldset textarea{width: 100%; box-sizing: border-box; padding: 7px; border-radius: 3px; border:none; outline: 0; border:1px solid #ccc; color: #999; font-family: 'Oxygen';}
.fielderror{border:1px solid #cc3333; box-shadow: 0 0px 2px #d34141;}
.errorNews{background: #de3838; color: #fff !important;}
.news-message{margin-top: 10px !important;}

h1, h2, h3, h4, h5{font-family: 'Open Sans', Arial, Helvetica;}

/*HEADER
=================================================================== */
header{background: #fff; padding-top: 10px; box-shadow: 0 2px 4px #c3c3c3; }
.header-slogan{color: #3964b5; font-weight: bold; font-family: 'Oxygen', Arial, Helvetica; border-left:3px solid #3964b5; padding: 5px 0 5px 15px; margin-top: 45px;}
.boxSocial { height: 80px; line-height: 85px; font-size: 14px; }
.boxSocial .box { float: left; width: 75%; text-align: center; box-sizing: border-box; text-align: right; }
.boxSocial .redes { padding-top: 10px; width: 25%; }
.boxSocial .box a { margin-left: 15px; }
.boxSocial .redes a { margin-left: 5px; }
.boxSocial .box a i { margin-right: 3px; }
.boxSocial .box:first-of-type a { color: #999; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; }
/*.boxSocial .box:first-of-type a:last-child { margin-left: 25px; }*/
.boxSocial .box:first-of-type a:hover { color: #333; }

.rowMenu { border-top: 1px solid #ebebeb; margin-top: 15px; background: rgba(252,252,252,0.7); }
.menu { text-align: center; }
.menu li { display: inline; font-family: 'Open Sans', Helvetica, Arial; font-size: 16px; }
.menu li{ color: #333; font-weight: 400; margin: 0 25px; }
.menu li a { color: inherit; transition: all 0.4s linear; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; }
.menu li:last-of-type { color: #3A589B; text-shadow: 1px 1px #ebebeb; }
.menu li a:hover, .menu li a.current{color:#cc3333;}
.menu li.diagseparator{margin: 0 0px;}
.menu li:first-child{margin-left: 10px;}

.navcats{
	position: absolute; 
	top: 100px;
	left: 10%;
	z-index: 9999;
	width: 500px;
	height: 200px;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
	-ms-transform: translate(-700px, 0px); /* IE 9 */
   	-webkit-transform: translate(-700px, 0px); /* Chrome, Safari, Opera */
    transform: translate(-700px, 0px);
}
.navcats ul li{
	list-style: none;
	width: 45%;
	text-transform: uppercase;
	float: left;
	display: inline; 
	margin: 0 2px 4px 2px; 
	background: rgba(0,0,0,0.8); 
	padding: 10px 0; 
	min-height: 38px;
	text-align: center;
	transition: all 0.4s linear; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear;
}
.navcats ul li:hover{background: #fff;}
.navcats ul li:hover>a{color: #cc3333;}
.navcats ul li a{color: #fff; display: block; padding: 5px 0; font-family: 'Ubuntu', Arial, Helvetica;}

.boxCrumbs{height: 130px; background: url(../sources/bgcrumbs.jpg); margin-bottom: 20px;}
.boxCrumbs h1{padding: 70px 0 0 25px; margin: 0; font-family: 'Ubuntu', Arial; color: #104456;}

.boxNavMobile { display: none; width: 100%; padding: 10px; box-sizing: border-box; }
/*FOOTER
=================================================================== */
footer{background: #EC1B30; padding: 20px;}
.foo{text-align: center;}
.boxart{position: relative;}
.art{
	position: absolute; 
	top: -79px; 
	left: -40px;
	width: 1040px; 
	background: url(../sources/footer-art.png) no-repeat center; 
	text-align: center; 
	min-height: 150px;}
.menu-foo{margin-bottom: 5px;}
.menu-foo li{display: inline-block; color: #fff;}
.menu-foo li.diagseparator{margin: 0 5px;}
.menu-foo li a{color: #fff;}
.menu-foo li a:hover{text-decoration: underline;}

.by{color: #f9cb89; text-transform: uppercase;}
.by a{color: #f9cb89; text-transform: none;}
.by a:hover{text-decoration: underline;}

/*HOME
==================================================================== */
.sombra-slider{margin-top: -25px; text-align: center; margin-bottom: 50px;}

.paddMobile{display: none;}
.threeBox-home{margin-top: 50px;}
.threeBox-home h2{font-size: 20px; text-align: center; margin-top:5px; }
.threeBox-home h1 a, 
.threeBox-home h2 a{color: #666; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;}
.threeBox-home h1 a:hover, .threeBox-home h2 a:hover{color: #cc3333;}
.threeBox-home .item-cats{position: relative; height: 165px; overflow: hidden;}
.threeBox-home .item-cats .maskBack {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(204,51,51,0.6); opacity: 0; z-index: 1;
	transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;
}
.threeBox-home .item-cats .mask{
	position: absolute;
	top: 15px; 
	left: 15px;
	right: 15px;
	bottom: 15px;
	text-align: center;
	border: 1px solid #fff;
	line-height: 135px;
	font-weight: bold;
	opacity: 0;
	z-index: 5;
	transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;
	/*-ms-transform: translate(0, -180px); 
   	-webkit-transform: translate(0, -180px); 
    transform: translate(0, -180px);*/
}
.threeBox-home .item-cats:hover>.maskBack{ opacity: 1; }
.threeBox-home .item-cats:hover>.mask{
	opacity: 1;
	/*-ms-transform: translate(0,0); 
   	-webkit-transform: translate(0,0); 
    transform: translate(0,0);*/
}

.threeBox-home .item-cats .mask a{
	color: #fff; font-weight: normal; font-size: 20px; letter-spacing: 3px;
}
.threeBox-home .item-cats .mask a:hover { text-shadow: 0 0 5px #ccc; }
.threeBox-home .item-cats .mask a span{font-weight: normal; font-size: 24px;}

.sundecHome h1, .sundecHome h2{text-align: center; }
.sundecHome h1{padding: 0px; margin: 0px; color: #cc3333;}
.sundecHome h2{margin-bottom: 10px; color: #666;}

.boxvideo, .boxvideoqs{position: relative; min-height: 475px;}
.boxvideoqs{min-height: 300px;}
video{position:absolute; top:20px; left:0px; width: 940px; border: 1px solid #ccc; z-index: 1000;}
.boxvideoqs video{width: 100%;}

.boxSlider{position: relative; overflow: hidden;}
.boxSlider:hover>.navcats{
	-ms-transform: translate(0,0); /* IE 9 */
   	-webkit-transform: translate(0,0); /* Chrome, Safari, Opera */
    transform: translate(0,0);
}

/*CATEGORIA
==================================================================== */
.txtCategory{text-align: center; margin-bottom: 50px;}

.boxYatch-list{margin-bottom: 20px; border-bottom: 1px solid #cccdcc; padding-bottom: 10px;}
.boxYatch-list .four a{background: none; padding: 0px; border-radius: 0px;}
.boxYatch-list .four a:hover{background: none;}
.boxYatch-list h2{font-family: 'Ubuntu', Arial, Helvetica;}
.boxYatch-list p{margin-bottom: 25px;}
.boxYatch-list span{background: #3399cc; color: #fff; padding: 10px 5px; border-radius: 5px 0 0 5px;}
.boxYatch-list a{transition: all 0.2s linear; -webkit-transition: all 0.2s linear; -moz-transition: all 0.42 linear; background: linear-gradient(#2f84a1, #155267); background:-webkit-linear-gradient(#2f84a1, #155267); color: #fff; padding: 10px; border-radius: 0 5px 5px 0;}
.boxYatch-list a:hover{background: linear-gradient(#247490, #247490); background:-webkit-linear-gradient(#247490, #247490);}

.sideYatchs h3{
	text-align:center; 
	padding:10px 0; 
	border-top:1px solid #c6c7c6; 
	border-bottom:1px solid #c6c7c6; 
	color:#39C;
	margin:10px 0 15px 0;
	text-transform:uppercase;
	background:#d2d4d3;
	text-shadow:0 1px 0 #3790bc;
}
.crosselling div{width:48%; float:left; margin:0 1% 10px 1%; text-align:center;}
.boxNewsletter{ margin-top:20px; padding-bottom:13px;}
.boxNewsletter h3{
	background:none;
	border:0px;
	color:#cc3333;
	text-shadow:none;
	margin-bottom:0px;
}
.boxNewsletter p{width:100%; margin:0 auto; margin-bottom:10px; }
.boxNewsletter input{
	display:block; 
	width:95%; 
	margin:0 auto 2px; 
	border:none; 
	border: 1px solid #CCCCCC;
	border-bottom: 0;
	font-family:"Oxygen", Arial; 
	color:#666; 
	padding:7px 5px; 
	outline:0;
	background: #f1efef;
}
.boxNewsletter input[type="submit"]{
	width:99%;
	background:#e44646;
	color:#fff;
	font-family:Arial, Helvetica;
	font-weight:bold;
	padding:10px;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
.boxNewsletter input[type="submit"]:hover{background:#b42727;}

/*CATALOGO
==================================================================== */
.catalogoPage h1 { text-align: center; }
.catalogoPage .sixteen p { width: 90%; margin: 0 auto 20px; text-align: center; line-height: 22px; font-size: 16px; }

.boxesCatalog { position: relative; overflow: hidden; margin-bottom: 15px;}
.maskcat{
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	color: #cc3333;
	border-right: 1px solid #cc3333;
	border-bottom: 1px solid #cc3333;
	box-sizing: border-box;
	transition: all 0.4s ease-out; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out;
}
.maskcat div { 
	box-sizing: border-box; padding: 10px; opacity: 0; color: #fff;
	transition: all 0.4s ease-out; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out;
}
.maskcat div p { color: #fff; margin-bottom: 25px; } 
.maskcat a { color: #fff; font-size: 13px; text-transform: uppercase; }
.maskcat a:hover{text-decoration: underline;}
.maskcat h2 { 
	position: absolute; right: 25px; bottom: 10px; font-size: 18px; margin: 0; padding: 0; text-align: right; 
	text-transform: uppercase; transition: all 0.4s ease-out; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out;
}
.boxesCatalog .maskcat:hover { background: rgba(204, 51, 51, 0.8); }
.boxesCatalog .maskcat:hover > div{
	opacity: 1;
}
.boxesCatalog .maskcat:hover > h2 { color: #6e0707; }

.breadcrum{font-weight: bold; font-size: 14px;}
.breadcrum a{color: #cc3333;}
.breadcrum a:hover{text-decoration: underline;}

.boxAncla{margin: 10px 0 30px 0;}
.boxAncla h3 { 
	color: #cc3333; border: 1px solid #cc3333; padding: 5px 0 5px 10px; text-transform: uppercase; margin-bottom: 20px;
	font-weight: normal;
}

.catalogContentPage { font-size: 14px; line-height: 20px; position: relative; }
.buttonPdfCatalogo {
	position: absolute;
	top: 10px; right: 0;
	background: #cc3333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    border-bottom: 3px solid #ad2222;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}

.buttonPdfCatalogo:hover {
	background: #ad2222;
	border-bottom: 3px solid #8e1b1b;
}

/*CATALOGOS PDF
==================================================================== */
.boxAnclaPdf { border-left: 1px solid #F7F7F7; margin-bottom: 30px; }
.boxAnclaPdf h3 { background: #F7F7F7; padding: 10px; color: #cc3333; font-weight: normal; text-transform: uppercase; }

.listPdfCatalogs { margin: 0; padding: 0; }
.listPdfCatalogs li { 
	float: left; width: 25%; box-sizing: border-box; padding: 10px; margin-bottom: 15px; text-align: center; 
	list-style: none;
}
.listPdfCatalogs li i,
.listPdfCatalogs li span { display: block; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; }
.listPdfCatalogs li i { font-size: 36px; color: #999; margin-bottom: 10px; }
.listPdfCatalogs li span { color: #000; font-size: 13px; }
.listPdfCatalogs li a:hover > span { text-decoration: underline; }
.listPdfCatalogs li a:hover > i { color: #cc3333; }


/*YATE PAGE
==================================================================== */
#galleria{height:350px;}
.titleYacht{margin:20px 0 5px 0; color:#155267; font-size:20px;}
.content-page{font-family: 'Ubuntu' !important; color: #333;}
.content-page ul{margin-left: 30px;}


/*NUESTRAS MARCAS
==================================================================== */
.listBrands article { 
	float: left; box-sizing: border-box; width: 45%; margin: 5px 2.5% 25px; border: 1px solid #ccc; text-align: center;
	padding: 10px 10px 0 10px; border-radius: 5px;
}
.listBrands h2 a{color: #cc3333; margin: 10px 0 0 10px;}
.listBrands p{ font-size: 14px; color: #666; font-weight: normal; line-height: 20px; }
.listBrands a.brandMore{
	color: #666;
	font-weight: normal;
	font-size:14px;
	display: block;
	width: 100%;
	margin: 15px 0 0 0 !important;
	padding: 10px 0;
	color: #cc3333;
	border: 1px solid #cc3333;
	border-radius: 5px;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;}
.listBrands a.brandMore:hover{ background: #cc3333; color: #fff; }

/*PROYECTOS
==================================================================== */
.itemBoxProject {
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	margin-left: 10px;
	border: 1px solid #cc3333;
	height: 175px;
	margin-bottom: 45px;
	border-radius: 0 3px 3px 0;
	transition: all 0.2s linear; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear;
}
.itemBoxProject:hover { box-shadow: 0 0 8px #CCC; }
/*.itemBoxProject:hover > img { 
	-ms-transform: scale(1.08, 1.08); 
    -webkit-transform: scale(1.08, 1.08); 
    transform: scale(1.08, 1.08);
    bottom: -3px;
}*/
.itemBoxProject img {
	position: absolute;
	bottom: 7px;
	left: 5px;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}

.itemBoxProject .information {
	margin-left: 275px;
}

.itemBoxProject .information h2 { margin: 0; margin-bottom: 5px; color: #cc3333; }
.itemBoxProject .information p { margin-top: 0; text-align: justify; }
.itemBoxProject .information a { 
	display: block; padding: 10px; color: #000; margin-top: 15px; width: 100px; font-size: 13px;
	text-align: center; border-radius: 25px; letter-spacing: 1px;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
.itemBoxProject .information a:hover { background: #000; color: #FFF; }
.itemBoxProject .information a i { margin-left: 5px; }

/*PROMOCIONES
==================================================================== */
.pagePromos h1,
.pagePromos h2 { text-align: center; }
.listPromos article { margin-bottom: 20px; position: relative; }
.listPromos .mask{
	position: absolute; 
	top: 45px; 
	left: 0; 
	right: 0;
	bottom: 3px;
	background: rgba(204, 51, 51, 0.7);
	opacity: 0;
    transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
.listPromos .boxLink { 
	position: absolute;
	top: 60px;
	left: 15px;
	right: 15px;
	bottom: 18px;
	text-align: right;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	padding-right: 20px;
	opacity: 0;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
.listPromos .boxLink a { 
	color: #fff; display: block; margin-top: 20%; font-size: 18px; 
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
.listPromos .boxLink a:hover { text-shadow: 0 0 5px #ccc; }
.listPromos .boxRow-promo:hover > .mask,
.listPromos .boxRow-promo:hover > .boxLink { opacity: 1; }

.listPromos h3 { text-transform: uppercase; color: #cc3333; margin-bottom: 10px; text-align: center; }


/*CONTACTO
==================================================================== */
.boxContacto{margin-top: 30px;}
.boxOffice-data{background: #F1EFEF; padding: 25px; font-family: 'Oxygen', Arial, Helvetica; color: #999; border-bottom: 2px solid #ccc;}
.boxOffice-data h3{margin-bottom: 5px; color: #cc3333;}
.boxOffice-data span{display: block;}
.boxOffice-data div{margin: 5px 0;}
.boxOffice-data div img{width: 18px; float: left; margin-right: 5px;}
.boxOffice-data small{float: left; margin-top: 0; font-size: 13px;}

#contacto{margin-top: 20px;}
.tquadform{width: 59%; margin-right: 5%; float: left;}
.quadform{width: 35%; float: left;}
.formcaptcha input{width: 80px; text-align: center; float: left;}
.formcaptcha img{float: left; margin: 2px 15px 0 5px;}
.formcaptcha input[type="submit"]{transition: all 0.4s linear; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear;}
.formcaptcha input[type="submit"]:hover{background: #cc3333; color: #fff;}

.containermap{position: relative; height: 500px;}

/*404
==================================================================== */
.p404{text-align: center; padding-top: 50px;}
.p404 h1{font-size: 48px; color: #cc3333; margin-bottom: 10px;}
.p404 h2{font-size: 16px; color: #666; margin-top: 0px; text-transform: uppercase;}
.p404 p{font-size: 14px; margin-top: 50px; text-align: center;}
.p404 a{color: #cc3333; text-decoration: underline;}

/*ASIDE
==================================================================== */
#contSide input, 
#contSide textarea{
	outline: 0; 
	padding: 7px 5px; 
	background: #f1efef; 
	border: none; 
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px; 
	width: 95%;
	resize:none;
}
#contSide #ipt-captcha{width: 50%; float: left;}
#contSide input[type="submit"]{
	width:99%;
	background:#e44646;
	color:#fff;
	font-family:Arial, Helvetica;
	font-weight:bold;
	padding:10px;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
#contSide input[type="submit"]:hover{background:#b42727;}

.contactSide{color: #666;}
.contactSide:hover{text-decoration: underline;}

/*QUIENES SOMOS
==================================================================== */
.buttonPresentation { 
position: absolute; top: 25px; right: 0;  background: #cc3333; padding: 15px; border-radius: 3px; border-bottom: 3px solid #bf2828;
font-weight: bold; color: #FFF; letter-spacing: 2px; font-size: 14px;
transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
.buttonPresentation i { margin-right: 5px; }
.buttonPresentation:hover { background: #bf2828; }

@media only screen and (min-width: 960px) and (max-width: 1151px) {

	/*HEADER*/
	.menu li { margin: 0 10px; }

	/*QUIENES SOMOS*/
	.maskcat div { padding: 5px 10px 0 10px; }
	.maskcat div p { margin: 0 0 15px 0; font-size: 13px; }

	/*PROYECTOS*/
	.itemBoxProject .information a {
		position: absolute; bottom: 15px; left: 65px; background: #000; color: #FFF;
	}

}


@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	/*HEADER*/
	.boxSocial { height: 60px; line-height: 20px; }
	.boxSocial .box:first-of-type { padding-top: 10px; }
	.boxSocial .box:first-of-type a { display: block; }

	.menu li:first-child { margin: 0 4px 0 0; }
	.menu li { margin: 0 4px; font-size: 14px; }
	
	
	/*HOME*/
	.navcats { top: 10px; height: 300px; }
	.threeBox-home .item-cats { height: auto; }
	
	/*CATALOGO***
	*************/
	.maskcat div p { display: none; }

	/*CONTACTO***
	*************/
	.tquadform, .quadform { width: 100%; margin-right: 0; }

	/*PROYECTOS*/
	.itemBoxProject { height: auto; }
	.itemBoxProject .information a {
		position: absolute; top: 165px; left: 65px; background: #000; color: #FFF;
	}
	.itemBoxProject img { top: -30px; left: -5px; }

	.listPdfCatalogs li { width: 33.3%; }
	
}


@media only screen and (max-width: 767px) { 

	/*HEADER*/
	.divHeaders { text-align: center; }
	.boxSocial { height: auto; }
	.boxSocial .box { height: auto; float: none; display: block; }
	.boxSocial .box:first-of-type { line-height: 20px; height: 45px; width: 100%; margin-top: 10px; text-align: center; }
	.boxSocial .box:first-of-type a { display: block; }
	.boxSocial .redes { width: 100%; text-align: center; height: 45px; margin-top: 0; margin-bottom: 10px; }

	.menu { display: none; }
	.boxNavMobile { display: block; }
	.boxNavMobile select { box-sizing: border-box; padding: 10px; width: 100%; }

	/*HOME*/
	.navcats { top: 10px; height: 300px; }
	.threeBox-home .item-cats { height: auto; }

	/*CATALOGO*/
	.boxesCatalog { margin-bottom: 30px !important; }
	.breadcrum { margin-top: 20px; }
	.buttonPdfCatalogo { position: relative; display: block; text-align: center; margin-bottom: 20px; }

	/*MARCAS*/
	.listBrands article { width: 100%; margin: 10px 0; }

	/*CONTACTO*/
	.tquadform, .quadform { width: 100%; margin-right: 0; }

	/*PROYECTOS*/
	.itemBoxProject { height: auto; border-radius: 0 0 3px 3px; }
	.itemBoxProject img { top: 0; left: 19px; }
	.itemBoxProject .information { width: 100%; margin: 165px auto 0; }
	.itemBoxProject .information h2 { text-align: center; }
	.itemBoxProject .information a { position: absolute; top: 110px; left: 82px; background: #000; color: #FFF; }

	.listPdfCatalogs li { width: 50%; }

	/*QUIENES SOMOS*/
	.buttonPresentation { position: relative; display: block; width: 100%; box-sizing: border-box; top: 0; text-align: center; }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {

	/*CATALOGO***
	*************/
	.maskcat div p { display: none; }

	/*PROYECTOS*/
	.listPdfCatalogs li { width: 100%; float: none; display: block; }

}
