//1.0 Fonts
//2.0 Vars
//3.0 Functions
//4.0 Global Styles
//5.0 Header
//6.0 Footer
//7.0 Home
//8.0 About us
//9.0 Catalog
//9.5 Catalog Page
//9.6 Catalog PDF
//10.0 Projects
//11.0 Brands
//12.0 Delas
//13.0 Contacto

//1.0 Content Fonts
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
@import "https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap"

//2.0 Content Vars
font-title = 'Open Sans', sans-serif
font-text = 'Open Sans', 'Helvetica', Arial, sans-serif
font-menu = 'Raleway', 'Helvetica', Arial, sans-serif
color-title = #000
color-text = #333
primary-color = #ec1b30
facebook-color = #3b5998
twitter-color = #1da1f2
instagram-color = #dd2a7b
pinterest-color = #cb2027

div.clr
    clear both

//3.0 Content Functions
isFnTransition(ms)
    transition: all ms linear
    -webkit-transition: all ms linear
    -moz-transition: all ms linear

isFnGray()
    -webkit-filter: grayscale(100%)
    -moz-filter: grayscale(100%)
    -ms-filter: grayscale(100%)
    -o-filter: grayscale(100%)
    filter: grayscale(100%)

isFnColor()
    -webkit-filter: grayscale(0%)
    -moz-filter: grayscale(0%)
    -ms-filter: grayscale(0%)
    -o-filter: grayscale(0%)
    filter: grayscale(0%)

//4.0 Content Global Styles
body
    background: #fff
    font-family: font-text
    font-size: 14px
    color: #000

    h1, h2, h3, h4, h5
        font-family: font-title
        color: color-title
        font-weight: bold
        margin-bottom: 20px
    
    h1
        font-size: 34px
    h2
        font-size: 28px
    h3
        font-size: 24px
    h4
        font-size: 20px
    h5
        font-size: 16px
    
    p
        font-family: 14px
        color: #000
        display: block
        margin-bottom: 15px
    
    p.is-pr-medium
        font-size: 16px
        line-height: 24px
        margin-bottom: 15px

    p.is-pr-big
        font-size: 18px !important
        line-height: 28px !important
        margin-bottom: 20px

    .is-simple-link
        color: #000
        font-weight: bold
        font-size: 13px
        isFnTransition(0.3s)

        i
            margin-left: 5px
        
        &:hover
            color: color-purple-brand

    .is-img-small,
    .is-img-medium,
    .is-img-big,
    .is-img-full
        display: block

    .is-img-small
        max-width: 25%
    .is-img-mediumsmall
        max-width: 40%
    .is-img-medium
        max-width: 50%
    .is-img-big
        max-width: 75%
    .is-img-full
        max-width: 100%
    .is-img-centered
        margin: 0 auto
    .is-img-spaced
        margin: 30px auto
    
    .is-text-center
        display: block
        text-align: center

    form
        fieldset 
            padding: 0
            box-sizing: border-box
            margin: 0
            margin-bottom: 20px

            label   
                display: block
                margin-bottom: 3px
                font-size: 13px
                color: #666
                padding-left: 20px
            input,
            select,
            textarea
                box-sizing: border-box
                padding: 10px
                outline: 0
                border-radius: 5px
                width: 100%
                border: 2px solid rgba(0,0,0,0.05)
                color: #000
                font-size: 16px
                resize: none
                isFnTransition(0.3s)

                &:focus
                    border: 2px solid color-blue-brand
            
            .is-button
                border: 0
                font-size: 16px
                padding: 15px
                font-weight: bold
                font-family: font-title
                display: block
                cursor: pointer
                background: color-orange-brand
                color: #FFF

                i
                    margin-left: 10px

                &:hover
                    box-shadow: 0 5px 15px rgba(0,0,0,0.3)
    
    .is-view
        margin-top: 50px

        h1
            color: #000000
            margin: 0
        
        h2
            color: primary-color
    

//5.0 Content Header
.is-transparent
    background: rgba(255,255,255,0.7)
    position: absolute
    top: 0
    left: 0
    z-index: 9000

.is-solid
    box-shadow: 0 5px 15px rgba(0,0,0,0.05)

.is-header
    padding: 10px 0 20px 0
    width: 100%    

    img 
        display: block

    .is-phones
        text-align: center
        font-size: 16px
        font-weight: bold
        color: #6e6e6e
        line-height: 65px

        a
            color: inherit
            margin: 0 10px

            i
                font-size: 14px
                margin-right: 5px
    
    .is-social
        text-align: center 
        line-height: 65px

        a
            font-size: 20px
            margin: 0 10px

        .is-facebook
            color: facebook-color
        .is-twitter
            color: twitter-color
        .is-instagram
            color: instagram-color
        .is-pinterest
            color: pinterest-color
    
    .is-menu
        text-align: center

        li
            display: inline-block
            font-family: font-menu
            font-size: 16px
            margin: 0 15px

            a
                color: #000
                font-weight: bold
                isFnTransition(0.3s)

                &:hover
                    color: primary-color

//6.0 Content Footer
.is-footer
    background: rgba(0,0,0,0.05)
    padding: 30px 0
    margin-top: 50px

    .is-title
        display: block
        margin-bottom: 10px
        font-size: 13px

    ul
        li
            font-family: font-menu
            display: block
            margin-bottom: 5px
            color: #000000
            margin-right: 10px

            a
                color: inherit
                isFnTransition(0.3s)

                &:hover
                    color: primary-color
    
    .is-social
        text-align: right 
        padding-top: 30px

        a
            font-size: 20px
            display: inline-block
            margin-left: 10px
            color: #000
            margin-bottom: 10px
            isFnTransition(0.3s)

        a.is-facebook
            color: facebook-color
        a.is-twitter
            color: twitter-color
        a.is-instagram
            color: instagram-color
        a.is-pinterest
            color: pinterest-color
        
        span 
            display: block
            font-size: 13px
            margin-bottom: 3px

            i
                margin-right: 5px


    ul.is-links
        text-align: center

        li
            display: inline-block
            margin: 0 10px
            font-size: 13px
    
    .is-by
        display: block
        text-align: center
        font-size: 13px

        small 
            color: primary-color

            a
                color: inherit

                &:hover
                    text-decoration: underline
    

//7.0 Content Home
.is-view-home
    .is-slider
        background: rgba(0,0,0,0.03)
        display: block
        overflow: hidden

        .nivo-controlNav
            left: 35%
            right: 35%
            bottom: 10%

            .nivo-control
                width: 10px
                height: 5px
                border: 1px solid primary-color
            
            .active
                background: primary-color
    
    .is-overview
        background: rgba(0,0,0,0.03)
        padding: 50px 0
        margin-bottom: 50px

        .is-text
            h1
                margin: 0
            
            h2
                color: primary-color
        
        .isCategoryCatalog
            position: relative

            h2
                position: absolute
                color: primary-color
                left: 50px
                bottom: 20px

                a
                    color: inherit
            
            .isCities
                position: absolute
                left: 50px
                bottom: 80px
                background: #fff
                padding: 5px 10px

                a, i
                    display: inline-block
                    color: #000
                    font-weight: bold
                    font-size: 16px
                    isFnTransition(0.3s)
                
                i
                    font-size: 5px
                    margin: 0 10px
                
                a:hover
                    color: primary-color
        
        .isFirstCategoryCatalog
            margin-top: 75px
    
    .isBrands
        img 
            isFnGray()
            isFnTransition(0.3s)

            &:hover
                isFnColor()
    
    .isVideo
        iframe 
            width: 100%
            height: 500px
            

//8.0 Content About
.is-view-about
    p
        font-size: 16px
    
    .isImage
        position: relative

        a
            position: absolute
            left: 35%
            right: 35%
            bottom: 20%
            background: primary-color
            color: #FFF
            padding: 10px 0
            font-size: 16px
            font-weight: bold
            text-align: center
            border-radius: 5px
            isFnTransition(0.3s)

            &:hover
                background: #FFF
                color: #000
        
    iframe 
        width: 100%
        height: 500px
        margin-top: 50px

//9.0 Content Catalog
.is-view-catalog
    .is-overview
        h1
            text-transform: uppercase
            margin-bottom: 20px

            span 
                display: block
                color: primary-color
        
        p
            font-size: 16px
    
    .isCities
        position: relative

        .isCancun,
        .isPlaya,
        .isTulum
            position: absolute
            bottom: 35px
            left: 25px
            font-size: 16px
            line-height: 22px
            background: #ffffff
            padding: 10px
            box-sizing: border-box
            width: 30%
            isFnTransition(0.3s)

            a
                color: #000

                span 
                    display: block
                    color: primary-color
            
            &:hover
                background: #000

                a
                    color: primary-color

                span 
                    color: #FFF
        
        .isPlaya
            left: 240px
        .isTulum
            left: 455px

    .isCatalogs
        margin-top: 50px
        background: rgba(0,0,0,0.03)
        margin-bottom: -50px
        padding: 50px 0

        .isCtry
            img,
            .isInfo
                float: left
                width: 50%
                box-sizing: border-box

            .isInfo
                padding: 20px
                min-height: 219px
                isFnTransition(0.3s)

                h2
                    color: primary-color
                    text-transform: uppercase
                    font-size: 20px
                    margin: 0 0 10px 0

                    a
                        color: inherit
                        isFnTransition(0.3s)

                        &:hover
                            color: #000
                
                p
                    color: #000
            
            &:hover
                .isInfo
                    background: #FFF
                    box-shadow: 0 2px 20px rgba(0,0,0,0.05)
    

//9.5 Content Catalog Page
.is-view-catalogopage
    h1
        margin-bottom: 0px

    .isBreads
        margin-bottom: 30px
        font-size: 16px
        color: primary-color

        a   
            color: inherit 

            &:hover
                text-decoration: underline
        
        i
            margin: 0 10px
        
        span 
            color: #666

    .isContact
        box-shadow: 0 5px 15px rgba(0,0,0,0.1)
        border: 1px solid rgba(0,0,0,0.05)
        box-sizing: border-box
        padding: 20px
        margin-top: 75px

        h3
            color: primary-color
        
        span 
            display: block
            margin-bottom: 20px
            font-size: 16px
            color: #999

            i
                margin-right: 5px
                color: #666
            
            a
                color: inherit
    
    .isMenuTabs
        margin-top: 75px
        text-align: center  
        font-size: 20px
        text-transform: uppercase

        a
            color: #000000
            
            &:hover
                text-decoration: underline
        
        span 
            color: primary-color
            margin: 0 10px
    
    .isFixed
        position: fixed
        top: -75px
        left: 0
        width: 100%
        height: 65px
        background: #000
        z-index: 1000
        line-height: 65px
        color: #FFF

        a
            color: inherit

    .isBoxAlbum
        margin-top: 30px

        h3
            text-align: center
            display: block
            text-transform: uppercase
            color: primary-color
        
        .isPicture
            position: relative

            img
                display: block

            .isMask
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: rgba(0,0,0,0.4)
                opacity: 0
                isFnTransition(0.3s)

                &:hover
                    opacity: 1

//9.6 Catalog PDF
.catalog-pdf-view
    .boxAnclaPdf
        border-left: 1px solid #F7F7F7;
        margin-bottom: 30px;
        h3
            font-size: 1.17em
            background: #F7F7F7;
            padding: 10px;
            color: #cc3333;
            font-weight: normal;
            text-transform: uppercase;
        .listPdfCatalogs
            margin: 0;
            padding: 0;
            li
                float: left;
                width: 25%;
                box-sizing: border-box;
                padding: 10px;
                margin-bottom: 15px;
                text-align: center;
                list-style: none;
                i
                    display: block
                    font-size: 36px;
                    color: #999;
                    margin-bottom: 10px;
                span
                    color: #000;
                    font-size: 13px;
    .boxOffice-data
        background: #F1EFEF;
        padding: 25px;
        font-family: 'Oxygen', Arial, Helvetica;
        color: #999;
        border-bottom: 2px solid #ccc;
        h3
            font-size: 1.17em
            background: #F7F7F7;
            padding: 10px 0px;
            margin 0px
            color: #cc3333;
            font-weight: bold;
            text-transform: uppercase;
        span
            display: block
            font-size: 12px
        img
            width: 18px;
            float: left;
            margin-right: 5px;
        a
            color #000
            font-size: 12px
            &:hover
                text-decoration: underline

//10.0 Content Projects
.is-view-projects
    text-align: center

    p
        font-size: 16px

    .isProject
        isFnTransition(0.3s)

        img
            display: block
            margin: 0 auto 10px
            isFnGray()
            isFnTransition(0.3s)

        h2
            font-size: 16px

        &:hover
            box-shadow: 0 5px 15px rgba(0,0,0,0.07)

            img 
                isFnColor()

//11.0 Content Brands
.is-view-brands
    .is-overview
        h1
            margin-bottom: 20px
        p
            font-size: 16px
    
    .isBrand
        isFnTransition(0.3s)
        margin-bottom: 30px

        img 
            display: block
            margin: 0 auto 10px
            max-width: 80%
            isFnGray()
            isFnTransition(0.3s)
        
        h2
            color: primary-color
            font-size: 18px
            text-align: center

            a
                color: inherit
        
        p
            text-align: center
            margin-bottom: 20px
            line-height: 24px
        
        .is-link
            display: block
            text-align: center
            font-weight: bold
            color: #000

            &:hover
                text-decoration: underline

        &:hover
            box-shadow: 0 5px 15px rgba(0,0,0,0.07)

            img 
                isFnColor()

//12.0 Content Contact
.is-view-contact
    h1  
        display: block
        margin-bottom: 20px !important
    
    p
        font-size: 16px

        span 
            display: block
            color: #000000
            font-weight: bold
    
    a
        color: primary-color
        font-weight: bold
        display: block
    
    form
        margin-top: 50px

        fieldset 
            margin-bottom: 0

            label 
                padding: 0
                padding-left: 5px
                font-size: 16px
                color: #000
            
            input[type="submit"]
                display: block
                width: 200px
                background: primary-color
                color: #FFF
                cursor: pointer
                font-weight: bold
    
    .isMap
        margin-top: 50px

        iframe 
            width: 100%
            height: 500px

.is-view-deals
    a.mask
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        top: 0px
        left 0px
        width: 100%
        height 100%
        background: rgba(236,27,48,.7)
        transition: 0.5s
        opacity 0
        box-sizing: border-box
        padding: 20px
        span.title
            color #fff
            font-size: 25px
            text-align: center
            font-weight: 100
            text-transform: uppercase
            strong
                font-weight: 600
        &:hover
            opacity 1

#btn-menu
    position: absolute
    top 20px
    right: 30px
    font-size: 18px
    color #000
    display: none;

//RESPONSIVE RULES
//Widescreen
@media only screen and (min-width: 1216px) and (max-width: 1407px) { }
//Desktop
@media only screen and (min-width: 1024px) and (max-width: 1215px) {
    .is-header .is-phones a { font-size: 13px; }
    .is-header .is-menu li a { font-size: 14px; }
}
//Tablet
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    body.body { width: 100%; overflow-x: hidden; }
    .is-header .is-social { width: fit-content !important; }
    .is-header .is-phones { padding: 12px 0px !important; }
    .is-header .is-social a { font-size: 14px; }
    .is-header .is-phones a { font-size: 12px; }
    .is-header .is-menu li a { font-size: 12px; }
}
//Mobile
@media only screen and (max-width: 768px) {
    body.body { text-align: center; }
    .is-header { position: relative !important; overflow: hidden; }
    .is-header .is-logo { width: 50% !important; }
    .is-header .is-logo img { margin-left: 20px; }
    .is-header .is-social, .is-header .is-phones { display: none; }
    .is-header .is-menu { background: rgba(236, 27, 46, 0.1); }
    .is-header .is-menu li { width: 100%; line-height: 40px; }
    .is-header .is-menu li a { display: block; width: 100%; }
    .is-header .is-menucol { padding: 0px; height: 0px; transition: 0.3s; }
    .is-header .is-menucol.show { height: 330px !important; }

    .is-view { padding: 0 20px; font-size: 16px; }

    #btn-menu { display: block; font-size: 24px; padding: 10px 20px; top: 15px; }

    .is-footer { overflow: hidden; }
    .is-footer .is-social { text-align: center !important; }
    .is-footer ul.is-links li { width: 100%; }

    //Home
    .is-view-home .is-overview { padding: 50px 20px 20px 20px; font-size: 16px; }
    .is-view-home .is-overview .isFirstCategoryCatalog { margin-top: 30px; }
    .is-view-home .is-overview .isCategoryCatalog h2 { margin-bottom: 0px; }
    .is-view-home .is-overview .isCategoryCatalog .isCities { background: none; }

    //About
    .is-view-about .isImage a { width: 40% !important; }

    //Catalogo
    .is-view-catalog .isCities .isCancun, 
    .is-view-catalog .isCities .isPlaya, 
    .is-view-catalog .isCities .isTulum { float: left; width: 33.33% !important; text-align: left; }

    .is-view-catalogopage p { font-size: 16px !important; }
    .is-view-catalogopage .isBoxAlbum .is-one-fifth { width: 50%; float: left; box-sizing: border-box; }
    .is-view-catalogopage .isFixed { display: none; }



    .is-view-home .is-overview .isCategoryCatalog h2, .is-view-home .is-overview .isCategoryCatalog .isCities { position: relative; left: 0px; bottom: unset !important; }
    .is-view-about .isImage a { width: 155px; left: 30%; }

    .is-view-catalog .isCities .isCancun, .is-view-catalog .isCities .isPlaya, .is-view-catalog .isCities .isTulum { position: relative !important; left: unset !important; bottom: unset !important; width: 100%; }
    .is-view-catalog .isCatalogs .isCtry img, .is-view-catalog .isCatalogs .isCtry .isInfo { width: 100%; overflow: hidden; }

    .is-view-contact form fieldset input[type="submit"] { margin: auto; }

    //Proyectos
    .is-view-projects .isProject img { webkit-filter: grayscale(0%) !important; -moz-filter: grayscale(0%) !important; -ms-filter: grayscale(0%) !important; -o-filter: grayscale(0%) !important; filter: grayscale(0%) !important; }
}